$black: #1C1C1C;
$blue: #177E89;
$red: #DB3A34;
$fonts: 'Montserrat', Arial, Helvetica, sans-serif;

* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: $fonts;
    font-size: 10px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.modal {
    display: none;

    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;

    &__overlay {
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: 0.75;
    }

    &__block {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        margin: auto auto;
        padding: 20px;

        height: 300px;
        max-width: 750px;
        width: 80%;
        min-width: 340px;

        background-color: #fff;
        z-index: 1000;
    }

    &__title {
        color: $black;
        font-size: 1.8rem;
        text-align: center;
    }

    &__gamemode-button {
        background-color: unset;
        border: 3px solid $black;
        border-radius: 5px;

        font-family: $fonts;
        font-weight: 700;

        height: 35px;
        width: 80px;
        cursor: pointer;

        &--blue {
            border: 3px solid $blue;
            color: $blue;

            &:hover,
            &-selected {
                border: 3px solid $blue;
                background-color: $blue;
                color: #fff;
            }
        }

        &--red {
            border: 3px solid $red;
            color: $red;

            &:hover,
            &-selected {
                border: 3px solid $red;
                background-color: $red;
                color: #fff;
            }
        }
    }
}

.header {
    margin: 30px 0 0 0;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__icon {
        position: relative;
        top: 48.5vh;
    }
}

.main {
    margin: 60px 0 60px 0;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__text {
        color: $black;
        font-size: 2.4rem;
        font-weight: 700;

        &--blue {
            color: $blue;
        }
    }
}

.gameboard {
    margin-top: 30px;
    padding: 10px;
    background-color: $black;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;

    &__cell {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 80px;
        width: 80px;

        background-color: #fff;
        cursor: pointer;
        transition: all 50ms linear;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.footer {
    margin-bottom: 30px;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.link {
    &__img {
        height: 32px;
        transition: all 50ms linear;

        &:hover {
            transform: translateY(2px);
        }
    }
}

.container {
    width: 95%;
    margin: 0 auto;
}
